###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
*.cs     diff=csharp

# Windows files
*.ps1 eol=crlf

# Linux files
*.sh eol=lf

*.resx  text whitespace=-trailing-space
*.Designer.cs text whitespace=-trailing-space
