---
Order: 2
Title: FAQ
Description: Common questions that have been asked when using Faker.NET.Portable
---
<p>
	The following list of questions is the ones that have been asked on github, and have aquired the
	<a href="https://github.com/WormieCorp/Faker.NET.Portable/issues?utf8=%E2%9C%93&q=label%3AQuestion">Question</a> label.
</p>

<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

@Html.Partial("_ChildPages")
