---
Title: Faker.NET.Portable
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class=container-fluid>
	<h1>What is it?</h1>
	<p>
		Faker.NET.Portable is a simple port of the Ruby Faker gem <a href="http://faker.rubyforge.org/" target="_blank">https://faker.rubyforge.org/</a> and is used
		to generate fake data: names, addresses, phone numbers, etc. This project is based on the <a href="https://github.com/slashdotdash/faker-cs" target="_blank">faker-cs</a>
		project, and was started with the idea of being able to use Fake Data in portable applications.
	</p>

	<h2>Where to get it</h2>
	<p>
		The easies way to install Faker.NET.Portable is by using nuget.
		<pre><code class="bash">nuget install Faker.Net.Portable</code></pre>

		or by using the Package Manager Console in Visual Studio
		<pre><code class="bash">Install-Package Faker.Net.Portable</code></pre>

		Another way is to download the latest release, extract the archive, and add a reference to the <code>Faker.Net.Portable.dll</code> library.
	</p>

	<h3>Framework Support</h3>
	<p>
		The following frameworks are currently supported by Faker.NET.Portable.
		<strong>NOTE: The library may not build on all of the supported frameworks, but should run as expected.</strong>
		<ul>
			<li>Mono 3.12.0 (will not build on that version, building requires minimum of 4.4.2)</li>
			<li>.NET Framework 4.0+</li>
			<li>Silverlight 5.0+</li>
			<li>Windows 8+</li>
			<li>Windows Phone 8.1+</li>
			<li>Windows Phone Silverlight 8+</li>
			<li>Xamarin.Android</li>
			<li>Xamarin.iOS</li>
			<li>Xamarin.iOS (Classic)</li>
		</ul>

		Found a framework Faker.NET.Portable works with, and is missing from the above list?
		Feel free to open a PR to get it added.
	</p>
</div>
