<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Faker.Tests" Description="Code analysis rules for Faker.Tests.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1118" Action="None" />
    <Rule Id="S2696" Action="None" />
  </Rules>
</RuleSet>